.date-input {
  
  input {
    height: 20px;
    width: 100%;
    margin: 1px 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
    background-image: url(input-bg.png);
  }
}

.datepickr-wrapper {
  display: inline-block;
  position: relative;
}

.datepickr-calendar {
  font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background-color: #eee;
  color: #333;
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 2px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
}

.open .datepickr-calendar {
  display: block;
}

.datepickr-calendar .datepickr-months {
  background-color: #f6af3a;
  border: 1px solid #e78f08;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  padding: 2px;
  text-align: center;
  font-size: 120%;
}

.datepickr-calendar .datepickr-prev-month,.datepickr-calendar .datepickr-next-month {
  color: #fff;
  text-decoration: none;
  padding: 0 .4em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.datepickr-calendar .datepickr-prev-month {
  float: left;
}

.datepickr-calendar .datepickr-next-month {
  float: right;
}

.datepickr-calendar .datepickr-current-month {
  padding: 0 .5em;
}

.datepickr-calendar .datepickr-prev-month:hover,.datepickr-calendar .datepickr-next-month:hover {
  background-color: #fdf5ce;
  color: #c77405;
}

.datepickr-calendar table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
}

.datepickr-calendar thead {
  font-size: 90%;
}

.datepickr-calendar th,.datepickr-calendar td {
  width: 14.3%;
}

.datepickr-calendar th {
  text-align: center;
  padding: 5px;
}

.datepickr-calendar td {
  text-align: right;
  padding: 1px;
}

.datepickr-calendar .datepickr-day {
  display: block;
  color: #1c94c4;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}

.datepickr-calendar .datepickr-day:hover {
  color: #C77405;
  background-color: #fdf5ce;
  border: 1px solid #fbcb09;
}

.datepickr-calendar .today .datepickr-day {
  background-color: #fff0A5;
  border: 1px solid #fed22f;
  color: #363636;
}

.datepickr-calendar .selected .datepickr-day {
  background-color: #1c94c4;
  color: #f6f6f6;
}

.datepickr-calendar .disabled .datepickr-day,.datepickr-calendar .disabled .datepickr-day:hover {
  background-color: #eee;
  border: 1px dotted #ccc;
  color: #bbb;
  cursor: default;
}