.text-area {
  position: relative;
  & > .sizer {
    white-space: pre-wrap;
    min-height: 110px;
    background-color: rgba(128, 128, 128, 0.2);
  }
  
  textarea {
    resize: none;
    
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
  
    font-size: 14px;
  
    overflow: hidden;
  
    border-top: 0px;
    border-bottom: 0px;
    border-left: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
    margin: 0px;
    
    border-radius: 2px;
    
    background-image: url(input-bg-top.png), url(input-bg-bottom.png);
    background-position: center top, center bottom;
    background-repeat: repeat-x, repeat-x;
  }
}